In [40]:
import mysql.connector as connector
connection = connector.connect(user = "root", password = "admin1")

In [41]:
connection = connector.connect( user = "root", password = "admin1", db = "little_lemon_db")

In [42]:
cursor=connection.cursor()

In [43]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [44]:
results

In [45]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

bookings
employees
menuitems
menus
orders
orders_view
orderview

In [47]:
joinquerry = '''
SELECT 
bookings.BookingID, 
bookings.GuestFirstName, 
bookings.GuestLastName, 
orders.BillAmount

FROM little_lemon_db.bookings
INNER JOIN little_lemon_db.orders 
ON bookings.BookingID = orders.BookingID

WHERE BillAmount > 60
ORDER BY BillAmount desc
'''

cursor.execute(joinquerry)

In [48]:
results = cursor.fetchall()
for item in results:
    print(item)

(1, 'Anna', 'Iversen', 86)